/**
Borrowed from minima theme
**/

$base-font-size:   16px !default;
$spacing-unit:     30px !default;
$small-font-size:  $base-font-size * 0.875 !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

@mixin relative-font-size($ratio) {
    font-size: #{$ratio}rem;
  }

@mixin media-query($device) {
@media screen and (max-width: $device) {
    @content;
  }
}

.post-list-heading {
@include relative-font-size(1.75);
}

.post-list {
margin-left: 0;
list-style: none;

> li {
    margin-bottom: $spacing-unit;
}
}
small-font-size
.post-meta {
font-size: $small-font-size;
}

.post-link {
display: block;
@include relative-font-size(1.5);
}


.post-header {
margin-bottom: $spacing-unit;
}

.post-title {
@include relative-font-size(2.625);
letter-spacing: -1px;
line-height: 1;

@include media-query($on-laptop) {
    @include relative-font-size(2.25);
}
}

.post-content {
margin-bottom: $spacing-unit;

h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
    @include relative-font-size(1.75);
    }
}

h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
    @include relative-font-size(1.375);
    }
}

h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
    @include relative-font-size(1.125);
    }
  }
}